<p id="notice"><%= notice %></p>

<h1 class='task-header'>Tasks</h1>
<%= link_to new_task_path, class: 'add-new-task-button' do %>
  <%= fa_icon 'plus-circle' %>
<% end %>

<% @tasks.reverse.each do |task| %>

  <%= render partial: 'task', locals: {task: task}%>

<% end %>




